@import '../../../variables';

.basket-component {
  .basket {
    width: 6em;
    height: 7em;
  }

  :host-context(.basket-one) .basket {
    background-color: $element-type-one-color;
  }

  :host-context(.basket-two) .basket {
    background-color: $element-type-two-color;
  }

  :host-context(.basket-three) .basket {
    background-color: $element-type-three-color;
  }
}
