@import '../../../variables';

.bomb-component {
  &.hidden {
    display: none;
  }
  .lifetime {
    float: right;
    background: yellow;
    width: 2em;
    text-align: center;
    border-radius: 45%;
  }
  .bomb {
    width: 5em;
    height: 5em;
    border-radius: 50%;
  }

  :host-context(.js-type-one) .bomb {
    background-color: $element-type-one-color;
  }

  :host-context(.js-type-two) .bomb {
    background-color: $element-type-two-color;
  }

  :host-context(.js-type-three) .bomb {
    background-color: $element-type-three-color;
  }
}
