@import '../../../variables';

.bomb-component {
  .lifetime {
    float: right;
    background: yellow;
    width: 2em;
    text-align: center;
    border-radius: 45%;
  }
  .bomb {
    width: 5em;
    height: 5em;
    border-radius: 50%;
  }

  :host-context(.bomb-type-one) .bomb {
    background-color: $element-type-one-color;
  }

  :host-context(.bomb-type-two) .bomb {
    background-color: $element-type-two-color;
  }

  :host-context(.bomb-type-three) .bomb {
    background-color: $element-type-three-color;
  }
}
